* {
  margin: 0;
  padding: 0;
}

body {
font-family:"San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
color:white ;
background-color: rgb(29, 29, 57);

}

.container {
  margin-top: 50px;
  width: 100vw; /* Use vw for viewport width */
  height: 100vh; /* Use vh for viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.display-cards {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto the next row */
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Add some space between cards */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  border: solid 2px white;
  width: 300px;
  height: 300px;
}

