* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(29, 29, 57);
}

.container {
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  padding: 15px;
  font-size: 20px;
}

.display-cards {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.cards {
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  border-radius: 20px;
  width: 400px;
  height: 400px;
}

p {
  font-size: 15px;
gap: 20;
}

.paintingImg {
  height: 200px;
  width: 220px;
  padding: 20px;
}
